root = true

# Todos los archivos C#
[*.cs]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8-bom
insert_final_newline = true
trim_trailing_whitespace = true

# Reglas de formato C#
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_prefer_braces = true
csharp_prefer_simple_using_statement = true
csharp_style_namespace_declarations = file_scoped